@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, button {
    font-family: 'Lato', sans-serif;
}

.my-button {
    font-size: 18px;
    border-width: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px; 
    width: 125px;
    margin-bottom: 10px;
}